/* =============================================================================
   HTML5 Boilerplate CSS: h5bp.com/css
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; width:100%; height:100%;}
html, button, input, select, textarea { font-family: sans-serif; color: #fff; }
body { margin: 0; font-size: 12px; line-height: 14px; }

::-moz-selection { background: khaki; color: #fff; text-shadow: none; }
::selection { background: khaki; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }

#intro > .container { margin-bottom:3em; }


/* ===== Primary Styles ========================================================
   ========================================================================== */
html { overflow:hidden; }
.ie { min-width:960px; }
.ie9 { min-width:200px; }
body {
  height: 100%;
  width: 100%;
}

.bg-overlay { 
  background: url('../img/bg-texture-trans.png');
  height: 100%;
  position: absolute;
  top:0;
  width: 100%;
  z-index: 3;
  overflow:hidden;
}

p { padding: 10px 0; font-size: 16px; line-height: 1.5; }

.section {
    min-width: 100%;
    height: 100%;
    width:100%;
    overflow: hidden;
    overflow-y:auto;
   /* top: -200%;*/
    position: absolute;
    z-index: 2;
    opacity: 0;
    -webkit-transition: opacity .6s ease-in-out;
    -moz-transition: opacity .6s ease-in-out;
    -o-transition: opacity .6s ease-in-out;
    -ms-transition: opacity .6s ease-in-out;
    transition: opacity .6s ease-in-out;
}
/*.section:target {
  opacity: 1;
  top: 0%;
}*/

.menu {
  background: url('../img/menu-bg.jpg') no-repeat;
  overflow: hidden;
  position: absolute;
  top:-700px;
  z-index: 200;
  width: 400px;
  height: 578px;
  display: block;
  left: 50%;
  margin-left: -200px;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

/*.menu-button:hover .menu { top:0; }*/


.menu { margin:0 0 0 -200px; padding:20px; }
.menu li { 
  border-bottom: 1px dashed #55647c;
  list-style-type: none;
  padding: 11px 0;
  width: 90%;
}
  .menu li:hover a { color: #011331; padding-left: 10px; }
.menu li:hover { background:#4d5c74; background: rgba(0,0,0,.1); }
.menu li:last-child { border: none; }

.menu li a {
  color: #55647c;
  font-weight: bold;
  text-decoration: none;
  display: block;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

h1, h2, h3 {
  font-family: 'LeagueGothicRegular', Arial, sans-serif;
  text-transform: uppercase;
  font-weight: normal;
}

h2 { font-size: 40px; }

li.slide div.binomial {
	font-style: italic;
	
}

/*.ie .footer { background:#4d5c74; }*/
.ie .slide h2 { background:#011639; }
.ie .slide .binomial { background:#011639; }

/* ===== Intro ========================================================
   ========================================================================== */

#bubbles { position: absolute; height: 100%; width: 100%; overflow: hidden; }
.ie #bubbles { display: none; }

body, #intro {
  background: url(../img/intro-bg.png) 50% center no-repeat #011639;
  background-size: cover;
}

#intro .bg-overlay { z-index: 1; }

h1.logo {
  /*background: url('../img/logo.png') center no-repeat;*/
  display: block;
  /*height: 203px;*/
  margin: 0 auto;
  /*text-indent: -9999px;*/
  max-width: 861px;
  margin-top:6%;
}

.container {
  width: 100%;
  position:relative;
  /*height: 100%;
  position: absolute;
  top: 50%;
  margin: -300px 0 0 -430px;
  left: 50%;*/
  z-index: 2;
}

#intro { 
  height: 100%;
  min-height: 100%;
  overflow-x: hidden;
  positon: relative;
  width: 100%;
  text-align: center;
  z-index:110;
}
#intro p { max-width: 520px; margin: 0 auto ; font-size: 16px; line-height: 1.6;  }
#intro p:first-of-type { margin: 20px auto 0; }
#intro h2 { margin-bottom: 0; line-height: 1; margin-top:.5em; }

#intro a {
  background: #5878ad;
  border-radius: 5px;
  color: #fff;
  display: block;
  font-size: 16px;
  margin: 0 auto;
  width: 16%;
  font-weight: bold;
  padding: 20px 40px;
  text-decoration: none;
  -webkit-transition: background .3s ;
  -moz-transition: background .3s ;
  -ms-transition: background .3s ;
  -o-transition: background .3s ;
  transition: background .3s ;
}
  #intro a:hover { background: #3b598a; }


/* ===== Fonts ========================================================
   ========================================================================== */

@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('../fonts/League_Gothic-webfont.eot');
    src: url('../fonts/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/League_Gothic-webfont.woff') format('woff'),
         url('../fonts/League_Gothic-webfont.ttf') format('truetype'),
         url('../fonts/League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}



/* ===== Map ========================================================
   ========================================================================== */

#map {
  background: #011639;
  height: 100%;
  width: 100%;
}

.main-map {
  max-width: 100%;
  position: relative;
  z-index: 1;
}

.menu-wrap {
  margin: 0;
  padding: 0;
}

.menu-button {
  /*background: url(../img/menu.jpg) no-repeat;*/
  cursor: pointer;
  display: block;
  margin: 0 auto;
  width: 74px;
  height: 29px;
}
a#menu-btn {
  background: url(../img/menu.jpg) no-repeat;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  width: 74px;
  height: 29px;
  text-indent: -999px;
  overflow: hidden;
  position: relative;
  z-index:105;
}

.menu li#menu-close {
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
  border: none;
  font-weight: bold;
  padding: 5px 8px;
  background-color: #55647c;
  margin: 0.5em;
}

.menu li#menu-close:hover {
  background-color: #011331;
}

.copy { margin: 0; padding: 0; }
.addthis_toolbox { padding-top: 10px; }

.footer {
  float:left;
  position: fixed;
  bottom: -5px;
  width: 100%;
  z-index: 9;
}

.footer > ul {
  clear: left;
  float: left;
  left: 50%;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: center;
  list-style: none;
}

  .footer > ul li {
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    right: 50%;
    padding: 3px 10px 22px;
    height: 28px;
    margin-right: 5px;
    background:#4d5c74;
    background: rgba(255,255,255,.3);
  }
  .footer > ul li.sources { padding: 5px 0 20px; }
  .footer > ul li.share { width:370px; padding-left:5px; padding-right:0; }

.footer ul li ul.copy { margin: 5px 0 0; }
.footer .copy li { right: 0; }
.copy li p { margin:0; padding:0; font-size: 11px; width:125px; }
.footer ul { margin: 10px 0 0 0 ; padding: 0; }
.footer ul.copy li { background: none;}
.footer ul.copy li.twitter, .footer ul.copy li.facebook { margin-right: 5px;  padding: 5px 0 0 0; }

.footer ul li.twitter a{
  background: url('../img/social.png') 0 0 no-repeat;
  display: block;
  width: 19px;
  height: 20px;
  text-indent: -9999px;
}
  .footer ul li.twitter a:hover { background: url('../img/social.png') 0 -21px no-repeat; }

.footer ul li.facebook a {
  background: url('../img/social.png') -22px 0 no-repeat;
  display: block;
  width: 19px;
  height: 20px;
  text-indent: -9999px;
}
  .footer ul li.facebook a:hover {
    background: url('../img/social.png') -22px -21px no-repeat;
  }

.footer li a {
  font-size: 11px;
  color: white;
  text-decoration: none;
}

.footer > ul li.submit {
  background: #dde418;
  padding: 5px 20px 20px;
}

.footer > ul li.submit:hover { background-color: #c4cb06; }

.footer > ul li.submit a {
  color: #011332;
  line-height: 39px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 18px 0;
}

.sources:hover { background:#4d5c74; background: rgba(255,255,255,.5); }
.sources a { line-height: 39px; padding: 18px; }
a.sources {
  background: url('../img/icon-hover.png') 0 -9000px no-repeat;
}
.marker {
  position:absolute;
  background: url('../img/icon.png') 0 0 no-repeat;
  background-position: center bottom;
  background-size: 70% auto;
  cursor: pointer;
  height:69px;
  width:47px;
  margin-top:-36px;
  margin-left:-23px;
  }
  .marker .info {
    display: none;
    position: absolute;
    top:1.5em;
    left:55px;
    width:200px;
    text-align:left;
  }
  .marker .info.ui-tooltip-right {
    display: none;
    position: absolute;
    top:1.5em;
    left:auto;
    right:55px;
    text-align:right;
  }
  .marker:hover {
    background: url('../img/icon-hover.png') 0 0 no-repeat;
    z-index:10;
    background-size: 70% auto;
    background-position: center bottom;
  }
  .marker:hover .info {
    display: block;
    }
    .info h2 {
      margin:0;
      padding:0;
      line-height:1em;
      font-size:25px;
    }
    .info img { float:left; padding-right:12px; }
    .marker .ui-tooltip-right img { float:right; padding-left:12px; padding-right:0; }
    #markers { position:absolute; top:0; left:0; list-style:none; z-index:5; }

  /*
 *  François 'cahnory' Germain
 */
.ui-tooltip, .ui-tooltip-top, .ui-tooltip-right, .ui-tooltip-bottom, .ui-tooltip-left {
  color:#ffffff;
  cursor:normal;
  display:-moz-inline-stack;
  display:inline-block;
  font-size:12px;
  font-family:arial;
  padding:.5em 1em;
  position:relative;
  text-align:center;
  /* text-shadow:0 -1px 1px #111111; */
  -webkit-border-top-left-radius:4px ;
  -webkit-border-top-right-radius:4px ;
  -webkit-border-bottom-right-radius:4px ;
  -webkit-border-bottom-left-radius:4px ;
  -khtml-border-top-left-radius:4px ;
  -khtml-border-top-right-radius:4px ;
  -khtml-border-bottom-right-radius:4px ;
  -khtml-border-bottom-left-radius:4px ;
  -moz-border-radius-topleft:4px ;
  -moz-border-radius-topright:4px ;
  -moz-border-radius-bottomright:4px ;
  -moz-border-radius-bottomleft:4px ;
  border-top-left-radius:4px ;
  border-top-right-radius:4px ;
  border-bottom-right-radius:4px ;
  border-bottom-left-radius:4px ;
  /*-o-box-shadow:0 1px 2px #000000, inset 0 0 0 1px #222222, inset 0 2px #666666, inset 0 -2px 2px #444444;
  -moz-box-shadow:0 1px 2px #000000, inset 0 0 0 1px #222222, inset 0 2px #666666, inset 0 -2px 2px #444444;
  -khtml-box-shadow:0 1px 2px #000000, inset 0 0 0 1px #222222, inset 0 2px #666666, inset 0 -2px 2px #444444;
  -webkit-box-shadow:0 1px 2px #000000, inset 0 0 0 1px #222222, inset 0 2px #666666, inset 0 -2px 2px #444444;
  box-shadow:0 1px 2px #000000, inset 0 0 0 1px #222222, inset 0 2px #666666, inset 0 -2px 2px #444444;*/
  background-color:#3b3b3b;
  background-image:-moz-linear-gradient(top,#417ccf,#215cae);
  background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,#417ccf),color-stop(1,#215cae));
  filter:progid:DXImageTransform.Microsoft.gradient(startColorStr=#417ccf,EndColorStr=#215cae);
  -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorStr=#417ccf,EndColorStr=#215cae);
}
.ui-tooltip:after, .ui-tooltip-top:after, .ui-tooltip-right:after, .ui-tooltip-bottom:after, .ui-tooltip-left:after {
  content:"\25B8";
  display:block;
  font-size:2em;
  height:0;
  line-height:0;
  position:absolute;
}
.ui-tooltip:after, .ui-tooltip-bottom:after {
  color:#2a2a2a;
  bottom:0;
  left:1px;
  text-align:center;
  text-shadow:1px 0 2px #000000;
  -o-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -khtml-transform:rotate(90deg);
  -webkit-transform:rotate(90deg);
  width:100%;
}
.ui-tooltip-top:after {
  bottom:auto;
  color:#4f4f4f;
  left:-2px;
  top:0;
  text-align:center;
  text-shadow:none;
  -o-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -khtml-transform:rotate(-90deg);
  -webkit-transform:rotate(-90deg);
  width:100%;
}
.ui-tooltip-right:after {
  color:#326EC4;
  right:-0.375em;
  top:50%;
  margin-top:-.05em;
  /*text-shadow:0 1px 2px #000000;*/
  -o-transform:rotate(0);
  -moz-transform:rotate(0);
  -khtml-transform:rotate(0);
  -webkit-transform:rotate(0);
}
.ui-tooltip-left:after {
  color:#326ec4;
  left:-0.375em;
  top:50%;
  margin-top:.1em;
  /*text-shadow:0 -1px 2px #000000;*/
  -o-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -khtml-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
}

/* demo css */
h2 { margin: 2em 0 1em; }
p { margin: 0 0 1em; }

/* ===== Fish ========================================================
   ========================================================================== */

#fish {
  background: url('../img/fish-bg.png') 0 -90px repeat-x #011639;
}

.nav {
  position: absolute;
  left:0;
  top: 70px;
  z-index:100;
}

.nav ul { padding:0; }

.nav ul li {
  background:#4d5c74;
  background: rgba(255,255,255,.3);
  width: 74px;
  height: 74px;
  margin: 0 0 5px;
  list-style-type: none;
  text-indent: -9999px;
  overflow: hidden;
  -webkit-transition: background .4s ;
  -moz-transition: background .4s ;
  -ms-transition: background .4s ;
  -o-transition: background .4s ;
  transition: background .4s ;
}
  .nav ul li:hover {
    background:#4d5c74;
    background: rgba(255,255,255,.8);
  }

.nav ul li a {
  background: url(../img/buttons.png) 0 0 no-repeat;
  display: block;
  height: 41px;
  width: 41px;
  margin: 16px auto 0;
}
  .nav ul li:hover a {
    background: url(../img/buttons.png) -41px 0 no-repeat;
  }

.nav ul li.next a {
  background: url(../img/buttons.png) 0 -81px no-repeat;
}
  .nav ul li.next:hover a {
    background: url(../img/buttons.png) -41px -81px no-repeat;
  }

.nav ul li.prev a {
  background: url(../img/buttons.png) 0 -160px no-repeat;
}
  .nav ul li.prev:hover a {
    background: url(../img/buttons.png) -41px -160px no-repeat;
  }

.slideshow {
  height: 100%;
  max-width:960px;
  width: 100%;
  text-align:center;
  margin:0 auto;
  padding:0;
}
.slideshow li {
  list-style:none;
}
.slideshow img {
    background-color: transparent;
    border: medium none;
    display: block;
    margin: 0 auto;
    max-width: 500px;
}
.slide h2 {
    font-size: 48px;
    line-height: 1em;
    margin: 65px 0 0 0;
    padding: 0;
    position: relative;
}
.slide .binomial {
	font-size: 14px;
    line-height: 1em;
    margin: 0 0 2em 0;
    padding: 0;
    position: relative;
    }

.slide { position:relative; display: none; }
.slide .fun-fact { display: none; position:absolute; top:0; right:10px; }
.slide .active .fun-fact { display: block; } 
.slide .string {
  cursor: pointer;
  position: absolute;
  top:0;
  right:10px;
  background: url('../img/funFact.png') -17px top no-repeat;
  width: 258px;
  height: 238px;
}
.slide .string.active  {
  background: none;
}
.slide .string .inner { position:relative; }
.slide .string .inner:before {
    background: none repeat scroll 0 0 #757779;
    content: "";
    height: 4000px;
    position: absolute;
    right: 138px;
    top: -4000px;
    width: 1px;
    z-index: 999999;
}

.slide .fish-text {
  max-width: 600px;
  font-size: 1.4em;
  margin: 0 auto 3em;
  text-align: left;
}

.cssanimations .slide .fun-fact,
.csstransitions .slide .fun-fact {
  /*top:-500px;*/
  -webkit-transition: all 1.4s ease-in-out;
  -o-transition: all 1.4s ease-in-out;
  -moz-transition: all 1.4s ease-in-out;
  transition: all 1.4s ease-in-out;
}
.fun-fact { z-index:20; }
.cssanimations .slide.flex-active-slide .fun-fact { top:0; }
/*.cssanimations .slide.flex-active-slide .fun-fact:hover { top:-500px; }*/

.flex-direction-nav,
.flex-control-nav { display: none; }

a:hover, a:active, a:focus { outline:0; }

.bars {
  max-width:503px;
  margin:0 auto 50px auto;
  }
  .bars div {
    border-left:1px solid #4d5c74;
    border-right:1px solid #4d5c74;
    border-bottom:1px solid #4d5c74;
    margin: 1em 0;
    padding: 0 4px;
    }
    .bars div.record { margin-top:2.5em; }
    .bars div span {
        background: none repeat scroll 0 0 #011639;
        color: #FFFFFF;
        line-height: 1.5em;
        overflow: hidden;
        position: relative;
        text-align: center;
        top: .8em;
    }
    /*.bars div span em { display: block; margin:0 auto; }*/

/* ===== Sources ========================================================
   ========================================================================== */

#sources {
  background:#4d5c74;
  background: rgba(0,0,0,.8);
  text-align: center;
}

#sources .close {
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  color: white;
  position: absolute;
  top: 50px;
  right: 50px;
}

/*.close:target #sources { opacity: 0; }*/
#sources h1 { font-size: 64px; }
#sources .inner { padding-top: 100px; }
#sources ul { padding: 0 0 100px 0; }
#sources ul li { list-style-type: none; padding: 10px 0; }
#sources ul li a { color: white; font-size: 16px; }
#sources ul li a:hover { text-decoration: none; }


/* ===== Submit Form ========================================================
   ========================================================================== */
html body.submit { height:auto; overflow-x:hidden; }
.submit h1 { font-size: 48px; padding-top: 40px; line-height:1; margin-bottom: 6px; }
.submit form { padding-bottom: 20px; }
.submit .inner {
  background:#4d5c74;
  background: rgba(255,255,255,.1);
  margin: 0 auto;
  width: 50%;
  text-align: center;
}
.submit .inner-container { width: 90%; margin: 0 auto; }
.submit input, .submit textarea { padding: 5px 0; margin: 10px 0 0; color: #011639; width: 70%; }
.submit input[type="file"] { width: auto; }
.submit input[type="submit"] {
  background: yellow;
  border: none;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 30px;
  color: #011639;
  text-align: center; 
  width: 50%;
}
.submit .footer { position:relative; }

/* =============================================================================
   Media Queries
   ========================================================================== */

.lt-ie-9 #intro, html { 
  overflow: auto;
  height:auto;
}
.lt-ie-9 body { overflow:visible; height:auto; }
.lt-ie-9 #intro { position:relative; z-index:110; zoom:1; }

.menu {
    background: url("../img/menu-bg.jpg") repeat scroll 0 0 transparent;
    width: 600px;
    height:auto;
    margin:0 0 0 -300px;
	}
	.menu li {
    	border-bottom: 1px dashed #55647C;
    	float: left;
    	margin: 0 2%;
    	padding: 11px 0;
    	width: 46%;
	}
	.menu li:last-child { border-bottom: 1px dashed #55647C; }


@media only screen and (max-width: 890px) {
	.copy li p { display:none; }
  h1.logo { background-size: 70%; }
  #intro .container { }
}


@media only screen and (max-width: 600px) {
  .slideshow img { max-width: 100%; }
  .slideshow li { padding-bottom: 80px; }
  #fish {
    background: url('../img/fish-bg.png') 0 -47px repeat-x #011639;
  }

  .slide h2 {
    margin: 103px 0 0;
    font-size: 30px;
  }
  .nav {
    float: left;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
  }
  /*.flex-direction-nav, .flex-control-nav {
    display: block;
    position: absolute;
    z-index: 999;
}*/
  .nav ul {
    clear: left;
    float: left;
    left: 50%;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    position: relative;
  }
  .nav ul li {
    float: left;
    display: block;
    position: relative;
    right: 50%;
    margin-bottom: 0;
    margin-right: 0px;
    padding-right: 0px;
    background: #4D5C75;
  }
  .nav ul li:hover {
    background: #f5f5f4;
  }
  .nav ul li.prev { float: left; }
  .nav ul li.next { float: right; }

  #markers { top: 53px; left: 11px; }
  .menu-wrap { padding-bottom: 30px; }
  .slideshow { width: 80%; margin: 0 auto; }
  .section { overflow-y: visible; }
  .marker, .marker:hover { background-size: 50%; }
  .bg-overlay { top: 0; }
  #intro a { width: 50%; margin-bottom: 50px; }
  h1.logo { background-size: 90%; }
  #intro h2 { margin-top: 10px; }
  #intro .container {
    width: 90%;
    margin: 0 auto;
    top: 0;
    left: 0;
    position: relative;
  }
  .footer > ul li.umu { display: none; }
  .footer > ul li.share .addthis_toolbox { display: none; }
  .footer > ul li.share,
  .footer > ul li.sources a,
  .footer > ul li.submit {
    display: block;
    height: 50px;
    width: 50px;
    background: url('../img/mobile.png') 0 0 no-repeat;
    padding: 0;
    text-indent: -9999px;
  }
  .footer > ul li.sources { background: none; padding:0; background-color: #354461; height: 50px;}
  body .footer > ul li.share { background-position: -50px 0; background-color: #354461; width:50px; }
  .footer > ul li.submit { background-position: -100px 0; }
  .footer > ul li.sources:hover a { background-position: 0 -50px; }
  .footer > ul li.submit:hover { background-position: -100px -50px; background-color: none; }
  .footer > ul li.submit a { display:block; background:none; float:right; height:50px; width:50px; text-indent: -999px; overflow:hidden; }
  .footer > ul li.share:hover { background-position: -50px -50px; }
  .footer > ul li.share:hover .addthis_toolbox { display: block; position: relative; top: -76px; left:0; }
    .footer > ul li.share:hover .addthis_toolbox { display: block; position: relative; top:0; left:0; }
    .footer > ul li.share .addthis_counter, .footer > ul li.share .addthis_counter a { display:block; background:none; float:right; height:50px; width:50px; text-indent: -999px; overflow:hidden; }
  .footer > ul li.sources:hover a { color: #030f37; }
  .marker .info { top: -12px; left: 33px; }
  .marker .info.ui-tooltip-right { top: -12px; right: 58px; }
  .menu li { float: left; width: 46%; }
  .menu { width: 100%; margin-left: -50%; padding: 20px 0; }
  .slide .string { display: none; }
}

@media only screen and (max-width: 730px) {
  #fish .footer {display: none;}
}

@media only screen and (-webkit-min-device-pixel-ratio: 2.0),
       only screen and (min--moz-device-pixel-ratio: 2.0),
       only screen and (-o-min-device-pixel-ratio: 200/100),
       only screen and (min-device-pixel-ratio: 2.0) {

    .footer > ul li.share,
    .footer > ul li.sources a,
    .footer > ul li.submit {
      background: url('../img/mobile@2x.png') 0 0 no-repeat;
      background-size: 150px 100px;
      -moz-background-size: 150px 100px;
      -ie-background-size: 150px 100px;
      -o-background-size: 150px 100px;
      -webkit-background-size: 150px 100px;
    }
    .footer > ul li.share { background-position: -50px 0; background-color: #354461; }
    .footer > ul li.submit { background-position: -100px 0; background-color: none; }
    #fish { backgorund-size: 334px 151px; }
    .menu-button {
      background: url(../img/menu@2x.jpg) no-repeat;
      background-size: 74px 29px;
    }
    .nav ul li { width: 50px; height:50px; }
    .nav ul li a {
      background: url(../img/buttons@2x.png) 0 0 no-repeat;
      background-size: 82px 201px;
      display: block;
      height: 41px;
      width: 41px;
      margin: 5px auto 0;
    }
      .nav ul li:hover a {
        background: url(../img/buttons@2x.png) -41px 0 no-repeat;
        background-size: 82px 201px;
      }

    .nav ul li.next a {
      background: url(../img/buttons@2x.png) 0 -81px no-repeat;
      background-size: 82px 201px;
    }
      .nav ul li.next:hover a {
        background: url(../img/buttons@2x.png) -41px -81px no-repeat;
        background-size: 82px 201px;
      }

    .nav ul li.prev a {
      background: url(../img/buttons@2x.png) 0 -160px no-repeat;
      background-size: 82px 201px;
    }
      .nav ul li.prev:hover a {
        background: url(../img/buttons@2x.png) -41px -160px no-repeat;
        background-size: 82px 201px;
      }
}

@media only screen and (min-width: 730px) { h1.logo { margin-top:6%; } }
@media only screen and (max-width: 760px) {
  .addthis_toolbox .addthis_button_facebook_like,
  .addthis_toolbox .addthis_button_tweet,
  .addthis_toolbox .addthis_button_pinterest_pinit
  {
    display: none;
  }
  .footer > ul li.share { width:100px; }
}


/* =============================================================================
   Non-Semantic Helper Classes
   ========================================================================== */

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }



/* =============================================================================
   Animation
   ========================================================================== */


    /*Time to animate*/
    .x1 {
        -webkit-animation: moveclouds 15s linear infinite;
        -moz-animation: moveclouds 15s linear infinite;
        -o-animation: moveclouds 15s linear infinite;
    }

    /*variable speed, opacity, and position of clouds for realistic effect*/
    .x2 {
        position:absolute; left: 20%;
        -webkit-animation: moveclouds 25s linear infinite;
        -moz-animation: moveclouds 25s linear infinite;
        -o-animation: moveclouds 25s linear infinite;
    }

    .x3 {
        position:absolute; left: 35%;
        -webkit-animation: moveclouds 20s linear infinite;
        -moz-animation: moveclouds 20s linear infinite;
        -o-animation: moveclouds 20s linear infinite;
    }

    .x4 {
        position:absolute; left: 47%;
        -webkit-animation: moveclouds 18s linear infinite;
        -moz-animation: moveclouds 18s linear infinite;
        -o-animation: moveclouds 18s linear infinite;
    }
    .x5 {
        position:absolute; left: 57%;
        -webkit-animation: moveclouds 15s linear infinite;
        -moz-animation: moveclouds 15s linear infinite;
        -o-animation: moveclouds 15s linear infinite;
    }

    /*variable speed, opacity, and position of clouds for realistic effect*/
    .x6 {
        position:absolute; left: 70%;
        -webkit-animation: moveclouds 25s linear infinite;
        -moz-animation: moveclouds 25s linear infinite;
        -o-animation: moveclouds 25s linear infinite;
    }

    .x7 {
        position:absolute; left: 85%;
        -webkit-animation: moveclouds 20s linear infinite;
        -moz-animation: moveclouds 20s linear infinite;
        -o-animation: moveclouds 20s linear infinite;
    }

    .x8 {
        position:absolute; left: 93%;
        -webkit-animation: moveclouds 18s linear infinite;
        -moz-animation: moveclouds 18s linear infinite;
        -o-animation: moveclouds 18s linear infinite;
    }

    @-webkit-keyframes moveclouds {
    0% { 
      -webkit-transform: 
          translate(30px,1000px)
          rotate(0deg) 
          scale(0.9,0.9);
    }
    100% { 
      -webkit-transform: 
          translate3d(0,0,0) 
          rotate(360deg) 
          scale(1.1,1.1);
    } 
  }
    @-moz-keyframes moveclouds {
    0% { 
      -moz-transform: 
          translate(30px,1000px)  
          rotate(0deg) 
          scale(0.9,0.9);
    }
    100% { 
      -moz-transform: 
          translate(0,0,0) 
          rotate(360deg) 
          scale(1.1,1.1);
    } 
  }
    @-o-keyframes moveclouds {
        0% {margin-bottom: -1000px;}
        100% {margin-bottom: 1000px;}
    }
